<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:component-scan base-package="ru.spring.marker.rest.service, ru.spring.marker.rest.dao, ru.spring.marker.rest.model"/>




    <bean id="userDao" class="ru.spring.marker.rest.dao.UserDaoImpl">
<!--        <property name="dataSource" ref="dataSource"/>-->
    </bean>

    <bean id="userService" class="ru.spring.marker.rest.service.CrudServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>


    <!-- For jdbcTemplate @Autowired -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Database Information -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>

</beans>